  <head>
    <title>HDB</title>
    <!--link(rel='stylesheet', href='css/all.css')-->
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="vendor/css/hdb.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body ng-app="Hdb">
    <!--script(type="text/javascript" src="js/all.js")-->
    <script type="text/javascript" src="vendor/js/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/js/hdb.js"></script>
    <script type="text/javascript" src="vendor/js/angular.js"></script>
    <script type="text/javascript" src="vendor/js/angular-locale_pt-br.js"></script>
    <script type="text/javascript" src="vendor/js/app.js"></script>
    <script type="text/javascript" src="vendor/js/controllers/HdbCtrl.js"></script>
    <script type="text/javascript" src="vendor/js/controllers/PgCtrl.js"></script>
    <script type="text/javascript" src="vendor/js/modules/dirPagination.js"></script>
    <script type="text/javascript" src="vendor/js/diretiva/footer.js"></script>
    <script type="text/javascript" src="vendor/js/diretiva/modal.js"></script>
    <script type="text/javascript" src="vendor/js/diretiva/loginacesso.js"></script>
    <script type="text/javascript" src="vendor/js/diretiva/formlogin.js"></script>
    <script type="text/javascript" src="vendor/js/diretiva/tips.js"></script>
    <script type="text/javascript" src="vendor/js/service/HdbApi.js"></script>
