<!DOCTYPE html>
<html lang="pt-BR">
<%include header%>
<div ng-controller="HdbCtrl" class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand brand">HistoryDB</a>
        </div>
        <div class="collapse navbar-collapse bg-primary">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-3 form_alteracao">
        <button type="button" class="btn btn-sm btn-default active" ng-click="btncadastro()" ng-disabled="selecao">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" data-toggle="modal"></span> Novo registro
        </button>
        <button type="button" class="btn btn-sm btn-default active" ng-click="EditaRegistro()" ng-disabled="!editar">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar
        </button>
        <button type="button" class="btn btn-sm btn-danger active" ng-click="RemoveRegistro(valores)" ng-if="selecao">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remover
        </button>
      </div>
      <div class="col-lg-7">
        <form class="form-inline form_inputs" name="FormCadastro" ng-show="aparececad && !selecao || editar">
          <div class="form-group">
            <input type="text" class="form-control" name="sistema" ng-model="cadastro.sistema" placeholder="Sistema" ng-required="true">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="funcao" ng-model="cadastro.funcao" placeholder="Função" ng-required="true">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="comando" ng-model="cadastro.comando" placeholder="Comando" ng-required="true">
          </div>
          <button class="btn btn-default btn-sm btn-default active" ng-click="AdicionaRegistro(cadastro)" ng-if="aparececad" ng-disabled="FormCadastro.$invalid">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Cadastrar
          </button>
          <button class="btn btn-default btn-sm btn-default active" ng-click="AdicionaRegistro(cadastro)" ng-if="editar" ng-disabled="FormCadastro.$invalid">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Editar
          </button>
        </form>
      </div>
      <div class="col-lg-2 input_search">
        <input type="text" class="form-control" ng-change="pesquisas()" ng-model="pesquisa" placeholder="Pesquisa">
      </div>
    </div>
  </div>
  <div class="col-log-12 tabelamargem">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr class="bg-primary">
          <th><a href ng-click="ordenar('nome')">Autor</th>
          <th><a href ng-click="ordenar('sistema')">Sistema</th>
          <th><a href ng-click="ordenar('funcao')">Função</th>
          <th><a href ng-click="ordenar('comando')">Comando</th>
          <th><a href ng-click="ordenar('data')">Data</th>
          <th class="checkseletor"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{marcador: valor.selecionado}" ng-click="TrMarcado(valores, valor)"
        dir-paginate="valor in valores |orderBy: ordernacao: reordenacao |itemsPerPage:selecte" total-items="pagtotal">
          <td ng-bind="valor.autor"></td>
          <td ng-bind="valor.sistema"></td>
          <td ng-bind="valor.funcao"></td>
          <td ng-bind="valor.comando"></td>
          <td ng-bind="valor.data | date: 'dd/MM/yyyy HH:MM'"></td>
          <td><input type="checkbox" ng-disabled="true" ng-model="valor.selecionado"
          ng-checked="valor.selecionado" ng-click="checkselecionado($event, valores)"/></td>
        </tr>
      </tbody>
    </table>
  </div>
  <footer class="bg-primary footers">
    <div class="row">
      <div class="col-lg-1 col-lg-offset-4">
        <select class="btn btn-sm btn-default pagseletor" ng-model="selecte"
        ng-options="select.item as select.item for select in selector"></select>
      </div>
      <div class="col-lg-4">
          <dir-pagination-controls max-size="5" auto-hide="false" on-page-change="paginamuda(newPageNumber)" boundary-links="true"></dir>
      </div>
    </div>
  </footer>
</div>
